<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/home.css">

</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Social<b>App</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <form class="navbar-form form-inline">
                <div class="input-group search-box">
                    <input type="text" placeholder="Search.." onclick="myFunction()" id="myInput" class="form-control"
                        onkeyup="filterFunction()" autocomplete="Off">
                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#about">About</a>
                        <a href="#base">Base</a>
                        <a href="#blog">Blog</a>
                        <a href="#contact">Contact</a>
                        <a href="#custom">Custom</a>
                        <a href="#support">Support</a>
                        <a href="#tools">Tools</a>
                    </div>
                </div>
                <!-- <div class="input-group search-box">
                    <input type="text" id="search" class="form-control" placeholder="Search here...">
                    <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                </div> -->
            </form>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Home</span></a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link add"><span
                            class="material-icons">add_to_photos</span>AddPost</a>
                    <div class="dropdown-menu">
                        <form action="/createBlog" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="title" placeholder="title">
                            </div>
                            <div class="form-group">
                                <textarea name="description" cols="30" rows="5" placeholder="description"></textarea>
                            </div>
                            <button type="submit"><span class="material-icons">send</span></button>
                        </form>
                    </div>
                </div>
                <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img
                            src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar"
                            alt="Avatar">
                        <%=data.data.name %><b class="caret"></b>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/profile/<%=data.data.id %>" class="dropdown-item"><i class="fa fa-user-o"></i>
                            Profile</a>
                        <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
                        <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="/logout" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <% if (data.msg) { %>
        <script> alert("story posted successfully!")</script>
    <% } %>
    <div class="main-content">
        <div class="primary-content">
            <% if (data.blogs) { %>
                <% data.blogs.forEach(blogDict=>{ %>
                    <div class="container posts mt-5">
                        <div class="d-flex justify-content-center row">
                            <div class="col-md-8">
                                <div class="d-flex flex-column comment-section">
                                    <div class="bg-white p-2">
                                        <div class="d-flex flex-row user-info">
                                            <img class="rounded-circle" src="" width="40" alt="<%=blogDict.user_id %>">
                                            <div class="d-flex flex-column justify-content-start ml-2"><span
                                                    class="d-block font-weight-bold name"></span><span
                                                    class="date text-black-50">
                                                    UserWhoPosted
                                                </span></div>
                                        </div>
                                        <div class="mt-2">
                                            <h5><%=blogDict.title %></h>
                                            <p class="comment-text">
                                                <%=blogDict.description %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span
                                                    class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span
                                                    class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span
                                                    class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                                    <div class="bg-light p-2">
                                        <div class="d-flex flex-row align-items-start">
                                            <img class="rounded-circle" src="" width="40" alt="<%=data.data.id%>">
                                            <textarea class="form-control ml-1 shadow-none textarea"></textarea>
                                        </div>
                                        <div class="mt-2 text-right">
                                            <button class="btn btn-primary btn-sm shadow-none"
                                                type="button">Post comment</button>
                                            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                                                type="button">Cancel</button>
                                            <a href="/updateBlog/<%=blogDict.id %>"><button class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                                                type="button">Edit</button></a>
                                            <a href="/deleteBlog/<%=blogDict.id %>"><button class="btn btn-outline-primary btn-sm ml-1 shadow-none"
                                                type="button">Delete</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                <%})%>
            <%}%>

        </div>
        <div class="aside-content">
            <h3 class="u-know">people you may know</h3>
            <div class="sub">
                <div class="list-group people-group">
                    <% if (data.users) { %>
                        <% data.users.forEach(userDict=>{ %>
                            <div class="mediaa">
                                <a href="/c_profile/<%=userDict.id %>">
                                    <div class="pull-left"> <img class="img-circle"
                                            src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading">
                                            <%=userDict.name %>
                                        </h6>
                                        <small>role</small>
                                    </div>
                                </a>
                                <a href="/add/<%=userDict.id %>"><button class="followBtn">follow</button></a>
                            </div>
                        <%})%>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

            <script src="../js/home.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>